Провести дисперсионный анализ для определения того, есть ли различия среднего

 роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста
 
  в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 
  
  178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184,
  
   180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.
    alpha = 0.05.

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [1]:
football_players = [173, 175, 180, 178, 177, 185, 183, 182]
hockey_players = [177, 179, 180, 188, 177, 172, 171, 184, 180]
lifters = [172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170]

In [3]:
y1 = np.array([173, 175, 180, 178, 177, 185, 183, 182], dtype= np.float64)
y2 = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180], dtype = np.float64)
y3 = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170], dtype = np.float64)

n1 = y1.shape[0]
n2 = y2.shape[0]
n3 = y3.shape[0]

In [4]:
y1_mean = y1.mean()
y2_mean = y2.mean()
y3_mean = y3.mean()

y1_mean, y2_mean, y3_mean

(179.125, 178.66666666666666, 172.72727272727272)

In [6]:
y = np.concatenate([y1, y2, y3])

print(y)

[173. 175. 180. 178. 177. 185. 183. 182. 177. 179. 180. 188. 177. 172.
 171. 184. 180. 172. 173. 169. 177. 166. 180. 178. 177. 172. 166. 170.]

In [7]:
y_mean = y.mean()

y_mean

176.46428571428572

Найдём значения  SF  и  Sres :

In [10]:
S2_f = n1 * (y1_mean - y_mean) ** 2 + n2 * (y2_mean - y_mean) ** 2 + n3 * (y3_mean - y_mean) ** 2
S2_res = ((y1 - y1_mean) ** 2).sum() + ((y2 - y2_mean) ** 2).sum() + ((y3 - y3_mean) ** 2).sum()

S2_f, S2_res

(253.9074675324678, 577.0568181818182)

In [14]:
((y - y_mean) ** 2).sum()

830.9642857142854

In [15]:
S2_f + S2_res

830.964285714286

Из-за незначительной разницы проверка невыполняется, но решение верное

In [16]:
S2_f + S2_res == ((y - y_mean) ** 2).sum()

False

Запишем оценки дисперсий:

In [18]:
k = 3
n = n1 + n2 + n3

k1 = k - 1
k2 = n - k

sig2_f = S2_f / k1
sig2_res = S2_res / k2 

sig2_f, sig2_res

(126.9537337662339, 23.08227272727273)

Итак, значение статистики  T :

In [19]:
T = sig2_f / sig2_res
T

5.500053450812598

In [20]:
from scipy import stats

In [21]:
from numpy.lib.shape_base import apply_along_axis
alpha = 0.05

F_crit = stats.f.ppf(1 - alpha, k1, k2)
F_crit

3.3851899614491687

Значение статистики больше, чем F_crit поэтому деляем заключение, что отличие среднего роста по профессиям является статистически значимым показателем